@import "./source/bootstrap-5.0.2/scss/bootstrap";

.icon-link {
  color: black;
  padding-right: 1rem;
  padding-left: 1rem;
}
.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.hidden {
    display: none;
}


i {
  color:inherit;
  margin: 10px -10px;
}